<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Chi Tiết Người Dùng</title>
<div th:replace="admin/layout/head :: head"></div>

<body onload="time()" class="app sidebar-mini rtl">
	<!-- Navbar-->
	<header th:replace="admin/layout/header :: header"></header>
	<!-- Sidebar menu-->
	<div th:replace="admin/layout/left-menu :: left-menu"></div>
	<!-- Sidebar menu-->
	<main class="app-content">
		<div class="app-title">
			<ul class="app-breadcrumb breadcrumb">
				<li class="breadcrumb-item">Quản lý tài khoản</li>
				<li class="breadcrumb-item"><a href="#">Thông tin</a></li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="tile">
					<h3 class="tile-title">Quản lý tài khoản</h3>
					<div class="tile-body">
						<div class="row element-button"></div>
					</div>
					<form class="row" method="POST" th:action="@{/edit/{username}(username=${user.userName})}" th:object="${account}"
						>
						<div class="form-group col-md-4">
							<label class="control-label">Họ và Tên</label>
							<input name="fullName" th:field="*{fullName}" class="form-control"/>
							
						</div>
						<div class="form-group col-md-4">
							<label class="control-label">Email</label>
							<input name="email" th:field="*{email}" class="form-control"/>
							
						</div>
						<div class="form-group col-md-4">
							<label class="control-label">Số điện thoại</label>
							<input name="phone" th:field="*{phone}" class="form-control"/>
							
						</div>
						<!-- <input path="passWord" class="form-control" hidden="True" /> -->

						<!-- <div class="form-group  col-md-4">
							<label for="exampleSelect1" class="control-label">Phân
								quyền</label>
							<div class="form-check">
								<form:radiobutton path="userRole" class="form-check-input"
									id="flexRadioDefault1" value="True" />
								<label class="form-check-label" for="flexRadioDefault1">
									Admin</label>
							</div>
							<div class="form-check">
								<form:radiobutton path="userRole" class="form-check-input"
									id="flexRadioDefault2" value="False" />
								<label class="form-check-label" for="flexRadioDefault2">
									Người dùng </label>
							</div>
						</div> -->

						<div class="form-group col-md-12">
							<button class="btn btn-save">Lưu
								lại</button>
							<!-- <button class="btn btn-save" formaction="/discount/update">Cập nhật</button> -->
							<a class="btn btn-cancel" th:href="@{/account}">Hủy bỏ</a>
						</div>
					</form>

				</div>
			</div>
		</div>
	</main>


	
  <!-- MODAL
-->
	<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">

				<div class="modal-body">
					<div class="row">
						<div class="form-group  col-md-12">
							<span class="thong-tin-thanh-toan">
								<h5>Tạo trạng thái mới</h5>
							</span>
						</div>
						<div class="form-group col-md-12">
							<label class="control-label">Nhập tên trạng thái mới</label> <input
								class="form-control" type="text" required>
						</div>
					</div>
					<BR>
					<button class="btn btn-save" type="button">Lưu lại</button>
					<a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
					<BR>
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div> -->
	<!--
MODAL -->




<div th:replace="admin/layout/script2 :: script2"></div>

</body>

</html>