<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
l>
<meta charset="UTF-8">
<title>Chi Tiết Mã Giảm giá</title>
<div th:replace="admin/layout/head :: head"></div>
<body onload="time()" class="app sidebar-mini rtl">
	<!-- Navbar-->
	<header th:replace="admin/layout/header :: header"></header>
	<!-- Sidebar menu-->
	<div th:replace="admin/layout/left-menu :: left-menu"></div>
	<!-- Sidebar menu-->
	<main class="app-content">
		<div class="app-title">
			<ul class="app-breadcrumb breadcrumb">
				<li class="breadcrumb-item">Quản lý sản phẩm giảm giá</li>
				<li class="breadcrumb-item"><a href="#">Thông tin</a></li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="tile">
					<h3 class="tile-title">Quản lý sản phẩm giảm giá</h3>
					<div class="tile-body">
						<div class="row element-button"></div>
					</div>
					<form:form class="row" action="/discount" modelAttribute="discount">
						<div class="form-group col-md-4">
							<label class="control-label">Mã giảm giá</label>
							<form:input path="discount_id" class="form-control"
								readonly="True" />
						</div>

						<div class="form-group col-md-4">
							<label for="category_id">Mã sản phẩm</label>
							<form:select path="products.product_id" class="form-control">
								<form:options items="${productIds}" />
							</form:select>
						</div>

						<div class="form-group  col-md-4">
							<label class="control-label">Ngày bắt đầu</label>
							<form:input path="discount_day" class="form-control" type="date" />
						</div>
						<div class="form-group  col-md-4">
							<label class="control-label">Ngày kết thúc</label>
							<form:input path="discount_end" class="form-control" type="date" />
						</div>
						<div class="form-group col-md-4">
							<label class="control-label">Giảm giá (%)</label>
							<form:input path="discount" class="form-control" type="number" />
						</div>

						<div class="form-group col-md-12">
							<button class="btn btn-save" formaction="/discount/create">Lưu
								lại</button>
							<!-- <button class="btn btn-save" formaction="/discount/update">Cập nhật</button> -->
							<a class="btn btn-cancel" href="/discount">Hủy bỏ</a>
						</div>
					</form:form>

				</div>
			</div>
		</div>
	</main>


	<!--
  MODAL
-->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">

				<div class="modal-body">
					<div class="row">
						<div class="form-group  col-md-12">
							<span class="thong-tin-thanh-toan">
								<h5>Tạo trạng thái mới</h5>
							</span>
						</div>
						<div class="form-group col-md-12">
							<label class="control-label">Nhập tên trạng thái mới</label> <input
								class="form-control" type="text" required>
						</div>
					</div>
					<BR>
					<button class="btn btn-save" type="button">Lưu lại</button>
					<a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
					<BR>
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>
	<!--
MODAL
-->



<div th:replace="admin/layout/script2 :: script2"></div>

</body>
</html>