<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Trang Chủ</title>
<div th:replace="admin/layout/head :: head"></div>

<body onload="time()" class="app sidebar-mini rtl">
	<!-- Navbar-->
   <header th:replace="admin/layout/header :: header"></header>
	<!-- Sidebar menu-->
	<div th:replace="admin/layout/left-menu :: left-menu"></div>
	<!-- Sidebar menu-->
	<main class="app-content">
		<div class="row">
			<div class="col-md-12">
				<div class="app-title">
					<ul class="app-breadcrumb breadcrumb">
						<li class="breadcrumb-item"><a href="#"><b>Bảng điều
									khiển</b></a></li>
					</ul>
					<div id="clock"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<!--Left-->
			<div class="row">
				<!-- col-6 -->
				<div class="col-md-6">
					<div class="widget-small primary coloured-icon">
						<i class='icon bx bxs-user-account fa-3x'></i>
						<div class="info">
							<h4>Tổng khách hàng</h4>
							<p>
								<b><c:out value="${totalCustomers}" /> khách hàng</b>
							</p>
							<p class="info-tong">Tổng số khách hàng được quản lý.</p>
						</div>
					</div>
				</div>
				<!-- col-6 -->
				<div class="col-md-6">
					<div class="widget-small info coloured-icon">
						<i class='icon bx bxs-data fa-3x'></i>
						<div class="info">
							<h4>Tổng sản phẩm</h4>
							<p>
								<b><c:out value="${totalProducts}" /> sản phẩm</b>
							</p>
							<p class="info-tong">Tổng số sản phẩm được quản lý.</p>
						</div>
					</div>
				</div>
				<!-- col-6 -->
				<div class="col-md-6">
					<div class="widget-small warning coloured-icon">
						<i class='icon bx bxs-shopping-bags fa-3x'></i>
						<div class="info">
							<h4>Tổng đơn hàng</h4>
							<p>
								<b><c:out value="${totalOrders}" /> đơn hàng</b>
							</p>
							<p class="info-tong">Tổng số hóa đơn bán hàng trong tháng.</p>
						</div>
					</div>
				</div>
				<!-- col-6 -->
				<div class="col-md-6">
					<div class="widget-small danger coloured-icon">
						<i class='icon bx bxs-error-alt fa-3x'></i>
						<div class="info">
							<h4>Sắp hết hàng</h4>
							<p>
								<b><c:out value="${productsRunningLow}" /> sản phẩm</b>
							</p>
							<p class="info-tong">Số sản phẩm cảnh báo hết cần nhập thêm.</p>
						</div>
					</div>
				</div>
				<!-- col-12 -->
				<div class="col-md-12">
					<div class="tile">
						<h3 class="tile-title">Tình trạng đơn hàng</h3>
						<div>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>ID đơn hàng</th>
										<th>Tên khách hàng</th>
										<th>Ngày đặt hàng</th>
										<th>Địa Chỉ</th>
										<th>Xem chi tiết đơn hàng</th>
										<th>Chức Năng</th>
									</tr>
								</thead>
								<tbody>
									
										<tr th:each="orders, loopStatus : ${orders}">
											<td th:text="${orders.orderId}"></td>
											<td th:text="${orders.account.userName}"></td>
											<td th:text="${#dates.format(orders.orderDate, 'dd/MM/yyyy')}"></td>
											<td th:text="${orders.orderAddress}"></td>
											<td><a class="" type="button" th:href="@{/order/orderDetail/{Id}(Id=${orders.orderId})}"> <i
												class="fas fa-list"></i></a></td>
											<td><a href="" class="btn btn-success" type="button">Xác nhận</a></td>	
										</tr>
									
								</tbody>
							</table>
						</div>
						<!-- / div trống-->
					</div>
				</div>
				<!-- / col-12 -->
				<!-- col-12 -->
			
				<!-- / col-12 -->
			</div>
		</div>

	</main>
	<div th:replace="admin/layout/script2 :: script2"></div>
	<!--===============================================================================================-->
	<script type="text/javascript">
		//Thời Gian
		function time() {
			var today = new Date();
			var weekday = new Array(7);
			weekday[0] = "Chủ Nhật";
			weekday[1] = "Thứ Hai";
			weekday[2] = "Thứ Ba";
			weekday[3] = "Thứ Tư";
			weekday[4] = "Thứ Năm";
			weekday[5] = "Thứ Sáu";
			weekday[6] = "Thứ Bảy";
			var day = weekday[today.getDay()];
			var dd = today.getDate();
			var mm = today.getMonth() + 1;
			var yyyy = today.getFullYear();
			var h = today.getHours();
			var m = today.getMinutes();
			var s = today.getSeconds();
			m = checkTime(m);
			s = checkTime(s);
			nowTime = h + " giờ " + m + " phút " + s + " giây";
			if (dd < 10) {
				dd = '0' + dd
			}
			if (mm < 10) {
				mm = '0' + mm
			}
			today = day + ', ' + dd + '/' + mm + '/' + yyyy;
			tmp = '<span class="date"> ' + today + ' - ' + nowTime + '</span>';
			document.getElementById("clock").innerHTML = tmp;
			clocktime = setTimeout("time()", "1000", "Javascript");

			function checkTime(i) {
				if (i < 10) {
					i = "0" + i;
				}
				return i;
			}
		}
	</script>
</body>
</html>