<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Quản Lý Sản Phẩm</title>
<div th:replace="admin/layout/head :: head"></div>
<body onload="time()" class="app sidebar-mini rtl">
	<!-- Navbar-->
	<header th:replace="admin/layout/header :: header"></header>
	<!-- Sidebar menu-->
	<div th:replace="admin/layout/left-menu :: left-menu"></div>
	<!-- Sidebar menu-->

	<main class="app-content">
		<div class="app-title">
			<ul class="app-breadcrumb breadcrumb side">
				<li class="breadcrumb-item active"><a href="/productDetail"><b>Danh
							sách chi tiết sản phẩm</b></a></li>
			</ul>
			<div id="clock"></div>
		</div>
		
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${messageSuccess}">
			<strong>Success!</strong> <span th:text="${messageSuccess}"></span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-dismissible fade show" style="background-color: red;" role="alert"
			th:if="${messageDanger}">
			<strong>Error!</strong> <span th:text="${messageDanger}"></span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${messageWarning}">
			<strong>Warning!</strong> <span th:text="${messageWarning}"></span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="tile">
					<div class="tile-body">
						<div class="row element-button">
							<div class="col-sm-2">

								<a class="btn btn-add btn-sm"
									href="/productDetail/form-productDetail" title="Thêm"><i
									class="fas fa-plus"></i> Tạo mới sản phẩm</a>
							</div>
							<div class="col-sm-2">
								<a class="btn btn-delete btn-sm print-file" type="button"
									title="In" onclick="myApp.printTable()"><i
									class="fas fa-print"></i> In dữ liệu</a>
							</div>
							<div class="col-sm-2">
								<a class="btn btn-delete btn-sm print-file js-textareacopybtn"
									type="button" title="Sao chép"><i class="fas fa-copy"></i>
									Sao chép</a>
							</div>

							<div class="col-sm-2">
								<a class="btn btn-excel btn-sm" href="" title="In"><i
									class="fas fa-file-excel"></i> Xuất Excel</a>
							</div>
							<div class="col-sm-2">
								<a class="btn btn-delete btn-sm pdf-file" type="button"
									title="In" onclick="myFunction(this)"><i
									class="fas fa-file-pdf"></i> Xuất PDF</a>
							</div>
						</div>
						<!-- <div id="deleteForm" style="display: none;">
							<form id="deleteProductForm" action="/productDetail/delete" method="post">
								<input type="hidden" id="productDetailIdToDelete" name="productDetailId">
								<label for="quantityToDelete">Nhập số lượng cần xóa:</label>
								<input type="number" id="quantityToDelete" name="quantity" min="1">
								<input type="submit" value="Xóa">
							</form>
						</div> -->
						<table class="table table-hover table-bordered" id="sampleTable">
							<thead>
								<tr>
									<th>Mã sản phẩm</th>
									<th>Tên sản phẩm</th>
									<th>Số lượng</th>
									<th>Kích cỡ</th>
									<th>Màu sắc</th>
									<th>Chức năng</th>
								</tr>
							</thead>
							<tbody>
								<!-- <c:forEach var="productDetail" items="${productDetail1}"> -->
									<tr th:each="productDetail1, loopStatus : ${productDetail1}">
										<td th:text="${productDetail1.productDetailId}"></td>
										<td  th:text="${productDetail1.product.productName}"></td>
										<td th:text="${productDetail1.quantity}"></td>
										<td th:text="${productDetail1.size.sizeName}"></td>
										<td th:text="${productDetail1.color.colorName}"></td>
										<td>
											<a class="btn btn-primary btn-sm edit" type="button"
													th:href="@{/productDetail/edit/{id}(id=${productDetail1.productDetailId})}"><i
														class="fas fa-edit"></i>
												</a>
									
												<a class="btn btn-primary btn-sm trash" type="button" title="Xóa"
												th:href="@{/productDetail/delete/{id}(id=${productDetail1.productDetailId})}"
												onclick="return confirmDeleteUser();">
												<i class="fas fa-trash-alt"></i>
											</a>
												
										
									</tr>
								<!-- </c:forEach> -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>


	<div th:replace="admin/layout/script2 :: script2"></div>
	<script type="text/javascript">
		$('#sampleTable').DataTable();
		//Thời Gian
		function time() {
			var today = new Date();
			var weekday = new Array(7);
			weekday[0] = "Chủ Nhật";
			weekday[1] = "Thứ Hai";
			weekday[2] = "Thứ Ba";
			weekday[3] = "Thứ Tư";
			weekday[4] = "Thứ Năm";
			weekday[5] = "Thứ Sáu";
			weekday[6] = "Thứ Bảy";
			var day = weekday[today.getDay()];
			var dd = today.getDate();
			var mm = today.getMonth() + 1;
			var yyyy = today.getFullYear();
			var h = today.getHours();
			var m = today.getMinutes();
			var s = today.getSeconds();
			m = checkTime(m);
			s = checkTime(s);
			nowTime = h + " giờ " + m + " phút " + s + " giây";
			if (dd < 10) {
				dd = '0' + dd
			}
			if (mm < 10) {
				mm = '0' + mm
			}
			today = day + ', ' + dd + '/' + mm + '/' + yyyy;
			tmp = '<span class="date"> ' + today + ' - ' + nowTime + '</span>';
			document.getElementById("clock").innerHTML = tmp;
			clocktime = setTimeout("time()", "1000", "Javascript");

			function checkTime(i) {
				if (i < 10) {
					i = "0" + i;
				}
				return i;
			}
		}
	</script>
	<script>
		function confirmDelete(productDetailId) {
			// document.getElementById("productDetailIdToDelete").value = productDetailId;
			// // Hiển thị form
			// document.getElementById("deleteForm").style.display = "block";
			var result = confirm("Bạn có chắc chắn muốn xóa không?");
			if (result) {
				// Sử dụng AJAX để gửi yêu cầu xóa
				var xhr = new XMLHttpRequest();
				xhr.open("GET", "/productDetail/delete/" + productDetailId,
						true);
				xhr.onreadystatechange = function() {
					if (xhr.readyState == 4 && xhr.status == 200) {
						// Xóa thành công, có thể cập nhật giao diện hoặc thông báo thành công tại đây
						// Ví dụ: reload trang
						window.location.reload();
					}
				};
				xhr.send();
			}
		}
	</script>

</body>
</html>