<div th:fragment="left-menu">
  <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
  <aside class="app-sidebar">
    <div class="app-sidebar__user">
      <img
        class="app-sidebar__user-avatar"
        src="/assets/admin/img/am.png"
        width="50px"
      />
      <div>
        <p class="app-sidebar__user-name">
          <b>Admin</b>
        </p>
        <p class="app-sidebar__user-designation">Chào mừng bạn [[${#request.remoteUser}]]</p>
      </div>
    </div>
    <hr />
    <ul class="app-menu">
      <li>
        <a class="app-menu__item" href="/order/orderreport"
          ><i class="app-menu__icon bx bx-tachometer"></i
          ><span class="app-menu__label">Quản lý đơn hàng</span></a
        >
      </li>
      <li>
        <a class="app-menu__item" href="/account"
          ><i class="app-menu__icon bx bx-id-card"></i
          ><span class="app-menu__label">Thông tin khách hàng</span></a
        >
      </li>
      <li>
        <a class="app-menu__item" href="/product-admin"
          ><i class="app-menu__icon bx bx-cog"></i
          ><span class="app-menu__label">Quản lý sản phẩm</span></a
        >
      </li>
      <li>
        <a class="app-menu__item" href="/productDetail"
          ><i class="app-menu__icon bx bx-purchase-tag-alt"></i
          ><span class="app-menu__label">Quản lý sản phẩm chi tiết</span></a
        >
      </li>
      <!-- <li><a class="app-menu__item" href="/discount"><i
								class='app-menu__icon bx bx-dollar'></i><span class="app-menu__label">Quản lý
								giá</span></a></li> -->
      <li>
        <a class="app-menu__item" href="/color"
          ><i class="app-menu__icon bx bx-palette"></i
          ><span class="app-menu__label">Quản lý màu sắc</span></a
        >
      </li>
      <li>
        <a class="app-menu__item" href="/brand"
          ><i class="app-menu__icon bx bx-crown"></i
          ><span class="app-menu__label">Quản lý thương hiệu</span></a
        >
      </li>
      <li>
        <a class="app-menu__item" href="/category"
          ><i class="app-menu__icon bx bx-category"></i
          ><span class="app-menu__label">Quản lý Loại Giày</span></a
        >
      </li>
      <li>
        <a class="app-menu__item" href="/size"
          ><i class="app-menu__icon bx bx-fullscreen"></i
          ><span class="app-menu__label">Quản lý kích cỡ</span></a
        >
      </li>
      <li th:if="${#request.isUserInRole('STAF')}">
        <a class="app-menu__item" href="/role"
          ><i class='bx bx-user'></i><span class="app-menu__label">Quản lý phân quyền</span></a
        >
      </li>
      <!-- <li><a class="app-menu__item" href="/admin/statistical-management"><i
								class='app-menu__icon bx bx-pie-chart-alt-2'></i><span class="app-menu__label">Báo cáo
								doanh thu</span></a></li> -->
    </ul>
  </aside>
</div>
