<div th:fragment="script2">
	<script th:src="@{assets/admin/js/jquery-3.2.1.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{assets/admin/js/popper.min.js}"></script>
	<script th:src="@{https://unpkg.com/boxicons@latest/dist/boxicons.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{assets/admin/js/bootstrap.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{assets/admin/js/main.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{assets/admin/js/plugins/pace.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{assets/admin/js/plugins/chart.js}"></script>
    <script th:src="@{assets/admin/js/popper.min.js}"></script>
    <script th:src="@{assets/admin/js/main.js}"></script>
    <script th:src="@{assets/admin/js/plugins/pace.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js}"></script>
    <script th:src="@{assets/admin/js/plugins/jquery.dataTables.min.js}"></script>
    <script th:src="@{assets/admin/js/plugins/dataTables.bootstrap.min.js}"></script>

	
</div>
