<div th:fragment="script">
    <script>
        const activePage = window.location.href;
        const navLink = document.querySelectorAll("nav .menu li a").
            forEach((link) => {
                console.log(link);
                if (link.href === activePage) {
                    link.parentNode.classList.add("active")
                }
            });
    </script>

     <!-- js code -->
    
    <!-- angularjs -->
    
    
    <script th:src="@{../../../assets/user/js/demos/demo-10.js}"></script>
    <script th:src="@{../../../../assets/user/js/jquery.min.js}"></script>
    <script th:src="@{../../../../assets/user/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{../../../../assets/user/js/jquery.hoverIntent.min.js}"></script>
    <script th:src="@{../../../../assets/user/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{../../../../assets/user/js/superfish.min.js}"></script>
    <script th:src="@{../../../../assets/user/js/owl.carousel.min.js}"></script>
    <script th:src="@{../../../../assets/user/js/bootstrap-input-spinner.js}"></script>
    <script th:src="@{../../../../assets/user/js/jquery.plugin.min.js}"></script>
    <script th:src="@{../../../../assets/user/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{../../../../assets/user/js/jquery.countdown.min.js}"></script>
    <!-- Main JS File -->
    

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script th:src="@{../../../assets/user/js/main.js}"></script>
    <script th:src="@{../../../assets/user/js/cart/shopping-cart-app.js}"></script>
   
</div>